# .dockerignore

# Git files
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Dependencies
node_modules

# Build artifacts
.next
npm-debug.log
README.md

# Local environment variables
.env.local